In [11]:
def fill_age(df):
#     Iterate over ser features
    for s in ['male','female']:
        for c in [1,2,3]:
            truth_table=(df['Sex']==s) & (df['Pclass']==c)
#             print(truth_table)
            temp_df =df[truth_table]['Age'].dropna() #drop all rows that have NaN as Age
            median_age=temp_df.median()
            print(s,c,median_age)
            df.loc[(df.Age.isnull())&(df.Sex==s)&(df.Pclass==c),'Age']=median_age
    print(truth_table)

In [12]:
import pandas as pd
train_data=pd.read_csv('C:/Users/Som/AI Workshop/Titanic Forecast/data/train.csv')
fill_age(train_data)
train_data.info()

male 1 40.0
male 2 30.0
male 3 25.0
female 1 35.0
female 2 28.0
female 3 21.5
0      False
1      False
2       True
3      False
4      False
5      False
6      False
7      False
8       True
9      False
10      True
11     False
12     False
13     False
14      True
15     False
16     False
17     False
18      True
19      True
20     False
21     False
22      True
23     False
24      True
25      True
26     False
27     False
28      True
29     False
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875     True
876    False
877    False
878    False
879    False
880    False
881    False
882     True
883    False
884    False
885     True
886    False
887    False
888     True
889    False
890    False
Length: 891, dtype: bool
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB